{% extends "AppBundle::layoutAdmin.html.twig" %}

{% block title %}Editer une observation{% endblock %}

{% block body %}
<h2>Editer une observation</h2>

    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.title, "Titre", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.title) }}
            <div class="col-sm-10">
                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.dateRecord, "Date d'enregistrement", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.dateRecord) }}
            <div class="col-sm-10">
                {{ form_widget(form.dateRecord, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.dateObservation, "Date d'observation", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.dateObservation) }}
            <div class="col-sm-10">
                <div class='input-group date'>
                    {{ form_widget(form.dateObservation, {'attr': {'class': 'form-control'}}) }}
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                </div>
            </div>
        </div>



        <div class="form-group">
            {{ form_label(form.gpsLatitude, "GPS Latitude", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.gpsLatitude) }}
            <div class="col-sm-10">
                {{ form_widget(form.gpsLatitude, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.gpsLongitude, "GPS Longitude", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.gpsLongitude) }}
            <div class="col-sm-10">
                {{ form_widget(form.gpsLongitude, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.description, "Description", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.description) }}
            <div class="col-sm-10">
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.status, "Status", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.status) }}
            <div class="col-sm-10">
                {{ form_widget(form.status) }}
            </div>
        </div>

        <hr>




        <a href="{{ path('admin') }}" class="btn btn-default">Retour au tableau de bord</a>
        <input type="submit" value="Valider" class="btn btn-danger" />
        {{ form_end(form) }}
    </div>
{% endblock %}