<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}"><h1 class="title">Nos Amis les Oiseaux</h1></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('homepage') }}"><i class="fa fa-home" aria-hidden="true"></i>&nbsp; Accueil</a></li>
                <li><a href="{{ path('view_all_species', {'page': 1}) }}"><i class="fa fa-list" aria-hidden="true"></i>&nbsp; Espèces</a></li>
                <li><a href="{{ path('view_all_observations', {'page': 1}) }}"><i class="fa fa-list" aria-hidden="true"></i>&nbsp; Observations</a></li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if is_granted("ROLE_USERNAT") %}
                                <li><a href="{{ path('admin') }}">Administration</a></li>
                            {% endif %}
                            <li><a href="{{ path('fos_user_profile_edit') }}">Mon profil</a></li>
                            <hr>
                            <li><a href="{{ path('create_observation') }}">Saisir une observation</a></li>
                            <li><a href="#">Mes Observation</a></li>
                            <hr>
                            <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                {% endif %}

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


