{% extends "AppBundle::layout.html.twig" %}

{% block title %}Fiche Oiseaux{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}



    <div class="container">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Données TaxrefV10 (INPN)</h3>
                </div>
                <div class="panel-body">
                    <table style="width: 100%">
                        <tr><td>Famille</td><td>{{ taxrefv10.famille }}</td></tr>
                        <tr><td>Nom scientifique</td><td>{{ taxrefv10.LbNom }}</td></tr>
                        <tr><td>Autorité (Auteur, année)</td><td>{{ taxrefv10.LbAuteur }}</td></tr>
                        <tr><td>Nom Français</td><td>{{ taxrefv10.NomVern }}</td></tr>
                        <tr><td>Nom Anglais</td><td>{{ taxrefv10.NomVernEng }}</td></tr>
                        <tr><td>URL INPN</td><td><a href="{{ taxrefv10.Url }}" target="_blank">Lien pour accéder à la fiche sur le site INPN</a></td></tr>
                    </table>
                </div>
            </div>

    </div>


{% endblock %}

